<!DOCTYPE html>
<html>
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <p>Hello World!</p><br>
        <p>
            DB Server: {{db_info['db_server']}}<br>
            DB Username: {{db_info['db_username']}}<br>
            DB Password: {{db_info['db_password']}}
        </p>

    </body>
</html>